@import "style";

.pointer {
    cursor: pointer;
}

.notification_area {
    left: unset;
    top: 10px;
    right: 10px;
}

.notification_area .box-color {
    border-radius: 5px;
}

.text-blink {
    animation: blink linear 2s infinite;
}

.t-d-none,
.t-d-none:hover,
.t-d-none:active,
.t-d-none:focus {
    text-decoration: none;
}

@keyframes blink {
    0% {opacity: 100}
    50% {opacity: 50%}
    100% {opacity: 100%}
}
